{% extends 'base.html' %}
{% load static %}

{% block title %}
Главная | News Portal
{% endblock %}

{% block content %}

<section class="hero">
    <span class="tag">Главная</span>

    <h1>Новости из JSON-файла</h1>

    <p>
        На этой странице данные загружаются из файла <strong>news.json</strong>
        и выводятся динамически через шаблонизатор Django.
    </p>
</section>

<section class="news-list">
    {% for item in news %}
        <article class="json-news-card">
            <a href="{% url 'galery' item.id %}">
                <img src="{% static item.preview_path %}" alt="{{ item.name }}" class="preview-image">
            </a>

            <div class="json-news-content">
                <span class="date">{{ item.date }}</span>

                <h2>{{ item.name }}</h2>

                <p>
                    {{ item.shortDesc }}
                </p>

                <a href="{% url 'galery' item.id %}" class="read-more">
                    Открыть изображение
                </a>
            </div>
        </article>
    {% endfor %}
</section>

{% endblock %}